<a href="https://colab.research.google.com/github/souleima22/pandas/blob/main/DS_libraries_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![picture](https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg)

In [ ]:
import pandas as pd
import numpy as np

# I-Series

**Cr√©ation d'une serie**

In [ ]:
a_list=[6,3,5,8]

In [ ]:
pd.Series(data=a_list)

0    6
1    3
2    5
3    8
dtype: int64

In [ ]:
pd.Series(np.array(a_list))

0    6
1    3
2    5
3    8
dtype: int64

In [ ]:
labels=["a","b","c"]
an_array=np.arange(3)
pd.Series(data=an_array,index=labels)

a    0
b    1
c    2
dtype: int64

In [ ]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
sr1=pd.Series(data=[10,20,30,40],index=["Tunisia","Libya","Indonesia","Morroco"])
sr1

Tunisia      10
Libya        20
Indonesia    30
Morroco      40
dtype: int64

In [ ]:
sr2=pd.Series(data=[30,45,80,5],index=["Tunisia","Libya","Greece","Algeria"])
sr2

Tunisia    30
Libya      45
Greece     80
Algeria     5
dtype: int64

In [ ]:
sr1+sr2

Algeria       NaN
Greece        NaN
Indonesia     NaN
Libya        65.0
Morroco       NaN
Tunisia      40.0
dtype: float64

In [ ]:
np.nan+5+7+8+10+28+36+25

nan

**Fonction utile**

In [ ]:
sr1.values

array([10, 20, 30, 40])

In [ ]:
sr1.index

Index(['Tunisia', 'Libya', 'Indonesia', 'Morroco'], dtype='object')

# II- DataFrames

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,5),index='a b c d e'.split(),columns='v w x y z'.split())

In [ ]:
df

          v         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

**Selection et indexation**

In [ ]:
df['v']

a    2.706850
b   -0.319318
c    0.528813
d    0.955057
e    0.302665
Name: v, dtype: float64

In [ ]:
df.v

a    2.706850
b   -0.319318
c    0.528813
d    0.955057
e    0.302665
Name: v, dtype: float64

In [ ]:
type(df['v'])

pandas.core.series.Series

In [ ]:
df[['x','z']]

          x         z
a  0.907969  0.651118
b  0.605965  0.740122
c  0.188695 -0.933237
d  1.978757  0.683509
e -1.706086 -0.134841

In [ ]:
df['x_y_sum']=df["x"]+df["y"]

In [ ]:
df

          v         w         x         y         z   x_y_sum
a  2.706850  0.628133  0.907969  0.503826  0.651118  1.411795
b -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.412203
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.570177
d  0.955057  0.190794  1.978757  2.605967  0.683509  4.584725
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -2.865205

In [ ]:
df.drop("x_y_sum",axis=1)

          v         w         x         y         z
a  0.666319 -0.538235 -0.568581  1.407338  0.641806
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379
d -1.329660  0.041460 -0.411055 -0.771329  0.110477
e -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
df

          v         w         x         y         z   x_y_sum
a  0.666319 -0.538235 -0.568581  1.407338  0.641806  0.838757
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885 -0.944312
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379  0.491070
d -1.329660  0.041460 -0.411055 -0.771329  0.110477 -1.182384
e -0.804652  0.253548  0.649148  0.358941 -1.080471  1.008088

In [ ]:
df.drop("x_y_sum",axis=1,inplace=True)

In [ ]:
df

          v         w         x         y         z
a  0.666319 -0.538235 -0.568581  1.407338  0.641806
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379
d -1.329660  0.041460 -0.411055 -0.771329  0.110477
e -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
df.drop("e", axis=0)

          v         w         x         y         z   x_y_sum
a  2.706850  0.628133  0.907969  0.503826  0.651118  1.411795
b -0.319318 -0.848077  0.605965 -2.018168  0.740122 -1.412203
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237 -0.570177
d  0.955057  0.190794  1.978757  2.605967  0.683509  4.584725


<center><img src="https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png" width="500" height="300"/>

In [ ]:
df.loc["a"]

v          2.706850
w          0.628133
x          0.907969
y          0.503826
z          0.651118
x_y_sum    1.411795
Name: a, dtype: float64

In [ ]:
df.iloc[1]

v         -0.319318
w         -0.848077
x          0.605965
y         -2.018168
z          0.740122
x_y_sum   -1.412203
Name: b, dtype: float64

In [ ]:
df.iloc[1:]

          v         w         x         y         z
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379
d -1.329660  0.041460 -0.411055 -0.771329  0.110477
e -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
df[1:2]

        v         w         x         y         z
b -0.9051 -0.391157  1.028293 -1.972605 -0.866885

**Selection conditionnele**

In [ ]:
df

          v         w         x         y         z
a  0.666319 -0.538235 -0.568581  1.407338  0.641806
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379
d -1.329660  0.041460 -0.411055 -0.771329  0.110477
e -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
df[df>0]

          v         w         x         y         z
a  0.666319       NaN       NaN  1.407338  0.641806
b       NaN       NaN  1.028293       NaN       NaN
c  0.720788       NaN  1.606780       NaN       NaN
d       NaN  0.041460       NaN       NaN  0.110477
e       NaN  0.253548  0.649148  0.358941       NaN

In [ ]:
df[df["v"]>0]

          v         w         x         y         z
a  0.666319 -0.538235 -0.568581  1.407338  0.641806
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379

In [ ]:
df[(df["x"]>0) & (df["y"]<0)]

          v         w         x         y         z
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379

In [ ]:
df[(df["x"]>0) | (df["y"]<0)]

          v         w         x         y         z
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379
d -1.329660  0.041460 -0.411055 -0.771329  0.110477
e -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
countries=["Tunisia","Egypt","Senegal","Palestine","Saudi Arabia"]

In [ ]:
df["countries"]=countries

In [ ]:
df

          v         w         x         y         z     countries
a  0.666319 -0.538235 -0.568581  1.407338  0.641806       Tunisia
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885         Egypt
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379       Senegal
d -1.329660  0.041460 -0.411055 -0.771329  0.110477     Palestine
e -0.804652  0.253548  0.649148  0.358941 -1.080471  Saudi Arabia

In [ ]:
df.set_index("countries")

                     v         w         x         y         z
countries
Tunisia       0.666319 -0.538235 -0.568581  1.407338  0.641806
Egypt        -0.905100 -0.391157  1.028293 -1.972605 -0.866885
Senegal       0.720788 -1.223082  1.606780 -1.115710 -1.385379
Palestine    -1.329660  0.041460 -0.411055 -0.771329  0.110477
Saudi Arabia -0.804652  0.253548  0.649148  0.358941 -1.080471

In [ ]:
df

          v         w         x         y         z     countries
a  0.666319 -0.538235 -0.568581  1.407338  0.641806       Tunisia
b -0.905100 -0.391157  1.028293 -1.972605 -0.866885         Egypt
c  0.720788 -1.223082  1.606780 -1.115710 -1.385379       Senegal
d -1.329660  0.041460 -0.411055 -0.771329  0.110477     Palestine
e -0.804652  0.253548  0.649148  0.358941 -1.080471  Saudi Arabia

**Groupement**

In [ ]:
data = {'Store':['ZARA','H&M','BERSH','BERSH','MYTEK','MYTEK'],
       'Person':['Sarah','Imen','Ines','Ahmed','Kamel','Anis'],
       'Sales':[300,420,850,263,325,100]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

   Store Person  Sales
0   ZARA  Sarah    300
1    H&M   Imen    420
2  BERSH   Ines    850
3  BERSH  Ahmed    263
4  MYTEK  Kamel    325
5  MYTEK   Anis    100

In [ ]:
df.groupby("Store")

In [ ]:
df.groupby("Store").mean()

       Sales
Store
BERSH  556.5
H&M    420.0
MYTEK  212.5
ZARA   300.0

In [ ]:
df.groupby("Store").sum()

       Sales
Store
BERSH   1113
H&M      420
MYTEK    425
ZARA     300

In [ ]:
df.groupby("Store").min()

      Person  Sales
Store
BERSH  Ahmed    263
H&M     Imen    420
MYTEK   Anis    100
ZARA   Sarah    300

In [ ]:
df.groupby("Store").describe()

      Sales
      count   mean         std    min     25%    50%     75%    max
Store
BERSH   2.0  556.5  415.071681  263.0  409.75  556.5  703.25  850.0
H&M     1.0  420.0         NaN  420.0  420.00  420.0  420.00  420.0
MYTEK   2.0  212.5  159.099026  100.0  156.25  212.5  268.75  325.0
ZARA    1.0  300.0         NaN  300.0  300.00  300.0  300.00  300.0

**Concat√©nation**

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

**Merge et Join**

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

**Valeurs manquantes**

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value='FILL VALUE')

            A           B  C
0         1.0         5.0  1
1         2.0  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

**Apply**

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','defljkh','ghi','xyz']})
df

   col1  col2     col3
0     1   444      abc
1     2   555  defljkh
2     3   666      ghi
3     4   444      xyz

In [ ]:
df["col3"].apply(len)

0    3
1    7
2    3
3    3
Name: col3, dtype: int64

In [ ]:
def times3(x):
    return x*3

In [ ]:
df["col1"].apply(times3)

0     3
1     6
2     9
3    12
Name: col1, dtype: int64

In [ ]:
df["col1"].apply(lambda x:x*3)

0     3
1     6
2     9
3    12
Name: col1, dtype: int64